.main-content .form-value1 {
  margin: 0;
  padding: 10px 12px;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius:5px;
  background: white;
  min-height: 2.5em; 
  display: flex;
  align-items: center;
}

.main-content .form-value1:focus {
  outline: none;
  border-color:var(--focus-color); /* Change border color on focus */
  background-color:white;
}

.main-content .form-value1::placeholder {
  color: var(--primary-color); /* or any color you want */
  opacity: 1;  /* ensure full visibility (some browsers make it semi-transparent by default) */
  font-size: var(--text-xxsmall);
}

/*------------------------------SELECT INPUT-----------------------------------*/
.main-content select.form-value1 {
  margin: 0;
  padding: 4px 4px 4px 10px;
  font-size: 12px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: white;
  min-height: 3.2em;
  display: flex;
  align-items: center;

  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('custom_input/caret-down-fill.svg'); 
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px;
}






/*---------------DATE----------------------*/

.main-content input[type="date"].form-value1 {
  margin: 0;
  padding: 10px 12px;
  font-size: 12px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: white;
  min-height: 3.2em;
  display: flex;
  align-items: center;
  -webkit-appearance: none;  /* Remove default browser styling */
  -moz-appearance: none;
  appearance: none;
  background-image: url('custom_input/calendar.png'); /* Replace with your custom icon */
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 15px;
}

.main-content input[type="date"].form-value1::-webkit-calendar-picker-indicator {
  display: none; /* Hide the default calendar icon in WebKit browsers */
}




/*-----------------------------PASSWORD-------------------------------*/

.password-wrapper {
  position: relative;
  width: 100%; /* Use 100% for full form field width */
  display: flex;
  align-items: center;
}

.password-wrapper input {
  padding-right: 40px; /* Space for eye icon */
  width: 100%;
  box-sizing: border-box; /* Ensure padding doesn't overflow */
}

.password-wrapper button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--primary-color, #333); /* Fallback in case variable is undefined */
  font-size: var(--icon-size, 1rem); /* Fallback if var not set */
  display: flex;
  align-items: center;
  justify-content: center;
}
