.reminder {
  background-color: var(--secondary-color);
  padding: 20px;
}

.reminder h2 {
  color: var(--focus-color);
  font-weight: lighter;
}

.payment-methods h2 {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 10px;
}

.payment-methods div {
  background-color: var(--primary-color);
  padding: 20px;
}

.payment-methods div p {
  color: var(--secondary-color);
}

.file {
  margin: 0;
  padding: 10px 12px;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background: white;
  height: 250px;
  cursor: pointer;
}

.seperator {
  margin-block: 10px;
}

.form-policy {
  width: 65%;
  float: right;
  margin-right: 250px;
}

.actions {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-bottom: 10px;
}

.btn {
  background-color: var(--primary-color);
  color: white;
}
