
/* === Base Tracker === */
.ADD_STATUS-TRACKER {
  width: 100%;
  overflow-x: auto;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start; /* Better for scroll */
  padding-left:30px;

}

/* Stepper row */
.ADD_stepper {
  display: flex;
  align-items: center;
}

/* Each step: icon + label */
.ADD_step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;
  margin: 0 auto;
}

/* Connecting line */
.ADD_line1 {
  flex: none;
  width: clamp(50px, 10vw, 120px); 
  height: clamp(0.4rem, .6vw, 0.6rem);
  background: #70d32f;
  border-radius: 999px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.ADD_line2 {
  flex: none;
  width: clamp(50px, 10vw, 120px); 
  height: clamp(0.4rem, .6vw, 0.6rem);
  background: #646e5e3d;
  border-radius: 999px;
  margin: 0 auto;
  margin-bottom: 30px;
}.ADD_line3 {
  flex: none;
  width: clamp(50px, 10vw, 120px); 
  height: clamp(0.4rem, .6vw, 0.6rem);
  background: #70d32f;
  border-radius: 999px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.ADD_line4 {
  flex: none;
  width: clamp(50px, 10vw, 120px); 
  height: clamp(0.4rem, .6vw, 0.6rem);
  background: #646e5e3d;
  border-radius: 999px;
  margin: 0 auto;
  margin-bottom: 30px;
}.ADD_line5 {
  flex: none;
  width: clamp(50px, 10vw, 120px); 
  height: clamp(0.4rem, .6vw, 0.6rem);
  background: #70d32f;
  border-radius: 999px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* Icon circle */
.ADD_icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.5rem, 3.5vw, 2.75rem);
  border: 4px solid var(--primary-color);
}

/* Label under icon */
.ADD_text1 {
  margin-top: 15px;
  text-align: center;
  font-size: 10px;
  max-width: 100px;
  word-wrap: break-word;
  color: var(--primary-color, #3498db);
  font-weight: bold;
}




