/* ----------ROOT VARIABLES---------- */
:root {
  /*Colors*/
  --primary-color: #003467;
  --secondary-color: #f1c40f;
  --hover-bg: #f1c40f27;
  --text-color: #ffffff;
  --container-color:#ffffff;
  --hover-bg: #ececec;

  /* */
  --font-main: "Montserrat", sans-serif;
  --navbar-height: 100px;
  --transition-speed: 0.4s;
  --letter-spacing:0.1em;
  --border-radius: 8px;
  --primary-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  --primary-highlight: #f1c40f;  
  --secondary-highlight: #e00000;
  --focus-color: #1C6FF2;


  --hz-space: clamp(10px, 2vw, 20px);
  --v-space: clamp(10px, 2vw, 20px);
  --l-space: 1.5;
  --t-space: 2px;
  --el-space: ;
  
  /* Font Sizes */
  --text-xxl: clamp(2rem, 6vw, 5.75rem);  
  --text-xl: clamp(1.75rem, 4.5vw, 3.75rem);  
  --text-large: clamp(1.5rem, 3.5vw, 2.75rem);
  --text-medium: clamp(1.125rem, 2.5vw, 1.875rem);
  --text-small: clamp(0.875rem, 2vw, 1.25rem);
  --text-xsmall: clamp(0.75rem, 1.5vw, 1rem);  
  --text-xxsmall:clamp(0.6rem, 1.1vw, 0.7rem);
  
  --dropdown-list-size:clamp(0.55rem, 1vw, 0.7rem);
  --icon-size: (0.75rem, 1.3vw, 0.85rem);

  /* For profile card and other table width size*/
  --profile-card-max-width: clamp(1000px, 95%, 1400px);
}