.Admission_warning {
  font-weight: bold;
  color: var(--primary-color);
}

.Admission_form-box {
  background: var(--container-color);
  border-radius: var(--border-radius);
  padding: var(--v-space);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  font-family: var(--font-main);
  transition: all var(--transition-speed);
}

.Admission_form-box:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.Admission_form-box h3 {
  border-bottom: 2px solid rgba(0, 52, 103, 0.6);
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: var(--text-medium);
}

.Admission_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--hz-space);
  margin-top:25px;
}

.Admission_upload label {
  margin: 10px 0;
  font-size: var(--text-xxsmall);
  font-weight: 600;
  color: var(--primary-color);
  text-transform: uppercase;
}

.Admission_upload label:hover {
  color: #002244;
  cursor: pointer;
  transition: color var(--transition-speed);
}

.Admission_upload.full {
  grid-column: span 2;
}

.Admission_upload.full .Admission_dropzone {
  margin: 0 auto;            
  max-width: 100%;   
  margin-top:10px;
  width: 100%;         
}


.Admission_dropzone {
  position: relative;

  border: 2px solid var(--hover-bg);
  text-align: center;
  padding: var(--v-space) var(--hz-space);
  font-size: var(--text-xsmall);
  color: var(--primary-color);
  cursor: pointer;
  background: var(--container-color);
  transition: all var(--transition-speed);
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);

  transition: all var(--transition-speed);
  overflow: visible;



}

.Admission_dropzone:hover {
  border-color: var(--focus-color);
  background: rgba(45, 137, 239, 0.08);
}

.Admission_dropzone.highlighted {
  border-color: var(--focus-color);
}

.Admission_dropzone small {
  display: block;
  color: var(--primary-color);
  font-size: var(--text-xsmall);
}

input[type="file"] {
  display: none;
}

.Admission_upload-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  object-fit: contain;
}

.Admission_text {
  font-size: var(--text-xxsmall);
  font-weight: 400;
}

/* Responsive */
@media (max-width: 768px) {
  .Admission_grid {
    grid-template-columns: 1fr;
  }

  .Admission_upload.full {
    grid-column: span 1;
  }

  .Admission_note {
    font-size: 0.85rem;
    margin-bottom: 25px;
  }

  .Admission_submit {
    width: 100%;
    display: block;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .Admission_form-box {
    padding: 15px;
  }

  .Admission_dropzone {
    height: auto;
    padding: 15px;
  }

  .Admission_dropzone img {
    width: 25px;
    height: 25px;
  }

  .Admission_text {
    font-size: 12px;
  }
}



.loading-top,
.loading-right,
.loading-bottom,
.loading-left {
  position: absolute;
  background-color: var(--focus-color);
  z-index: 1;
  pointer-events: none;
  border-radius: 2px;
  transition: all 0.4s ease-in;
}

.loading-top,
.loading-bottom {
  height: 2px;
  width: 0;
}

.loading-right,
.loading-left {
  width: 2px;
  height: 0;
}

.loading-top { top: 0; left: 0; }
.loading-right { top: 0; right: 0; }
.loading-bottom { bottom: 0; right: 0; }
.loading-left { bottom: 0; left: 0; }


.Admission_dropzone.loading {
  pointer-events: none;
  cursor: default;
}

.Admission_dropzone.loading:hover {
  background: var(--container-color);
  border-color: var(--hover-bg);
  cursor: default;
}
