::-webkit-scrollbar {
  width: 5px;                 /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;          /* track color */
}

::-webkit-scrollbar-thumb {
  background: #003467;          /* thumb color */
  border-radius: 5px;           /* rounded thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #002244;          /* darker on hover */
}

/* For Firefox */
* {
  scrollbar-width: auto;                 /* auto | thin */
  scrollbar-color: #003467 #f1f1f1;      /* thumb | track */
}