
.search-bar i {
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--primary-color);
	font-size: var(--icon-size);
	z-index: 2;
}

.search-bar input {
	width: 100%;
	padding: 8px 15px 12px 45px; 
	border: 1px solid var(--primary-color);
	border-radius: 25px;
	outline: none;
	font-size: var(--text-xsmall);
  color: var(--primary-color);
}

.search-bar input::placeholder {
  color: var(--primary-color);
  opacity: 75%;     
}
